body {
  background-color: #E1E1DD;
}
</style>
</head>
<body>

table, 
{
border: 0px solid black;
align: center;
width: auto;  
cellpadding: 0; 
cellspacing: 0;
}

tr{
border: 1px solid black;
width: 40%; 
}

th{
border: 0px solid black;
width: 50%; 
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {margin:0}

.icon-bar {
  width: 80%
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 10%
  text-align: center;
  padding: 12px; 0;
  transition: all 0.3s ease;
  color: black;
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}
</style>
<body>

iframe scrolling="no"{
}

  frameborder="no"
  clocktype="html5" 
  style="overflow:hidden;
  border:0;
  margin:0;
  padding:0;
  width:120px;
  height:40px;
"src="https://www.clocklink.com/html5embed.php?clock=043&timezone=Malaysia_KualaLumpur&color=gray&size=120&Title=&Message=&Target=&From=2021,1,1,0,0,0&Color=gray"
</iframe>
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div id {
   sfcnc8gcn5plscmxq88tyxkz55nxgrq5asn;
</div>
<script type="text/javascript>
   src: https://counter6.stat.ovh/private/counter.js?c=nc8gcn5plscmxq88tyxkz55nxgrq5asn&down=async" async>
</script>
<noscript> {
}
div class {
  url: elfsight-app-1e79ac92-1ec4-4f2a-9e13-78e2dd3cdb84;
}
</div>